.unlike-button {
  background: transparent;
  outline: none;
  border-radius: 50%;
  border: none;
  padding: 0.5rem;
  margin-bottom: 4px;
  cursor: pointer;
  transition: all 100ms ease-in-out;

  &:hover,
  &:focus-visible {
    background-color: hsla(0deg, 0%, 90%, 30%);
    filter: brightness(150%);
  }

  &:active {
    scale: (0.9);
  }
}

.unlike-button__icon {
  color: var(--red);
  opacity: 0.9;
  font-size: 2rem;
  vertical-align: middle;
  margin-inline: auto;
}
