.content {
  position: relative;
}

.content__photo {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--radius);

  transition: all ease-in-out 75ms;
}

.content .content__overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 100ms ease-in-out 0s;
}

.content:hover .content__overlay {
  opacity: 0.3;
  z-index: 1;
  border-radius: var(--radius);
}

.content__details {
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  transition: all 0.3s ease-in-out 0s;
  z-index: 2;
}

.content:hover .content__details {
  opacity: 1;
}

.content__details .content__title {
  color: #fff;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
