.image-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  position: fixed;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
  // margin: 0.5rem auto;
  width: 75%;
  z-index: 11;
}

.image-modal__header {
  align-self: end;
}
