.image-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  width: 75%;

  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 11;
}

.image-modal__header {
  align-self: end;
}

.image-modal__image {
  object-fit: cover;
}
